# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Find References'
      'command': 'go-find-references:toggle'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'go-find-references'
      'submenu': [
        {
          'label': 'Find References'
          'command': 'go-find-references:toggle'
        }
      ]
    ]
  }
]
